<?xml version="1.0" encoding="utf-8"?>
<module>
  <grants></grants>
  <actions>
    <!-- 어드민 -->
    <action name="dispOembedAdminConfig" class="Controllers\Admin" menu-name="oembed" admin-index="true" />
    <action name="dispOembedAdminProviders" class="Controllers\Admin" />
    <action name="procOembedAdminInsertConfig" class="Controllers\Admin" />
    <action name="procOembedAdminRefreshProviders" class="Controllers\Admin" />

    <!-- 페이스트 시 호출되는 메인 API -->
    <action name="procOembedFetch" class="Controllers\Controller" standalone="true" meta-noindex="true" />
  </actions>
  <eventHandlers>
    <eventHandler before="display" class="Controllers\EventHandlers" method="injectEditorAssets" />
  </eventHandlers>
  <menus>
    <menu name="oembed" type="all">
      <title xml:lang="ko">oEmbed</title>
      <title xml:lang="en">oEmbed</title>
    </menu>
  </menus>
</module>
